@use '../abstracts/functions' as f;

.widgetContent {
  display: flex;
  width: 100%;
  flex: 1;
  overflow-y: auto;
  background-color: f.color('background-widget-content');
  border-radius: 0 0 25px 25px;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 16px;
  color: f.color('content-text');
  padding: 20px;
}
