@use '../abstracts/functions' as f;

/* Widget styles */
.widget {
  width: 500px;
  height: 700px;
  position: absolute;
  bottom: 80px;
  right: 20px;
  padding: 0.5em;
  background-color: f.color('background-widget');
  color: f.color('general-white-pure');
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.2s ease-out;
  transform: translateY(2%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  border-radius: 30px;
  box-shadow: 2px 4px 15px 0px #00000026;
  z-index: 10000;
}

.widgetShow {
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
