.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  position: relative;
}

/* AppContainer styles */
.app-container {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  position: relative;
}

/* Button styles */
.app-button {
  background-color: #61dafb;
  color: #282c34;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid #282c34;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  position: absolute;
  bottom: 0;
  right: 0;
}

.app-button:hover {
  background-color: #282c34;
  color: #61dafb;
}

/* Widget styles */
.widget {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 1em;
  background-color: chocolate;
  color: #61dafb;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.widget-header {
  font-size: 1.5em;
  display: flex;
  width: 100%;
  background-color: #0a0d36;
}

.logo-container,
.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

.title-container {
  flex: 1;
  text-align: left;
}

.title-container p {
  font-size: 22px;
  font-weight: 700;
}

.title-container span {
  font-size: 14px;
  font-weight: 400;
}

.widget-content p {
  /* Styles for your content */
}
