/* Button styles */
.app-button {
  background-color: #0a0d36;
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: none;
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease;
}

.app-button:hover {
  background-color: rgba(10, 13, 54, 0.5);
}

/* Widget styles */
.widget {
  position: absolute;
  bottom: 80px;
  right: 20px;
  padding: 1em;
  background-color: chocolate;
  color: #61dafb;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.2s ease-out;
  transform: translateY(2%);
  opacity: 0;
  visibility: hidden;
}

.widget-show {
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
}

.widget-header {
  font-size: 1.5em;
  display: flex;
  width: 100%;
  background-color: #0a0d36;
}

.logo-container,
.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

.title-container {
  flex: 1;
  text-align: left;
}

.title-container p {
  font-size: 22px;
  font-weight: 700;
}

.title-container span {
  font-size: 14px;
  font-weight: 400;
}

.widget-content p {
  /* Styles for your content */
}
