.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  position: relative;
}

.App__button {
  background-color: #61dafb;
  color: #282c34;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid #282c34;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  position: absolute;
  bottom: 0;
  right: 0;
}

.App__button:hover {
  background-color: #282c34;
  color: #61dafb;
}

.App__widget {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);
  padding: 1em;
  background-color: #fefefe;
  color: #61dafb;

  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.App__widget__header {
  font-size: 1.5em;
  display: flex;
  width: 100%;
  background-color: #0a0d36;
}

.App__widget__header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

.App__widget__header__title {
  flex: 1;
  text-align: left;

  p {
    /* font-family: Poppins; */
    font-size: 22px;
    font-weight: 700;
  }

  span {
    /* font-family: Roboto; */
    font-size: 14px;
    font-weight: 400;
  }
}

.App__widget__header__close {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  cursor: pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
